---
import { education, certificates } from '@cv';
---

<section class = 'container'>
    <h1 class = 'title'>Education</h1>
    <ul>
    {education.map(({institution, area, title, startDate, endDate, summary, courses}) => {
        return(<li class = 'unity'>
            <h4 class = 'name'>{institution}</h4>
            <div class = 'general'>
            <p class = 'undername'>{area} - {title}</p>
            <p class = 'undername'>{startDate} - {endDate}</p>
            </div>
            <p class = 'summary'>{summary}</p>
            <h4 class = 'midTitle'>Knowledge on</h4>
            <div class = 'knowledgeDiv'>
            {courses.map((element) =><span class = 'course'>{element}</span>)}
        </div>
        </li>)
    })}
    </ul>

</section>

<style>
    .container{
        color: black;
        width: 90%;
        max-width: 1000px;
        padding-top: 2vh;
		padding-bottom: 1vh;
    }
    .title{
        width: 100%;
        padding-top: 1vh;
        font-size: 20px;
        font-weight: 700;
    }
    .name{
        font-size: 16px;
        font-weight: 600;
    }
    .general{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .summary{
        text-align: justify;
    }
    .undername{
        font-weight: 600;
        font-size: 13px;
        padding-bottom: 1vh;
        padding-top: 1vh;
    }
    .knowledgeDiv{
        gap: 3px;
        width: 100%;
        display: flex;
        padding-bottom: 1vh;
        padding-top: 1vh;

    }
    .course{
        background-color: rgb(255, 255, 255);
        border-radius: 3px;
        padding: 4px;
        color: rgb(0, 0, 0);
        border-style: solid;
        border-color: black;
        border-width: 1px;
        font-size: 10px;
        text-align: center;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .midTitle{
        padding-top: 1vh;
        font-size: 15px;
        font-weight: 500;
    }
    .course:hover{
        background-color: rgb(32, 32, 32);
        color: white;
        box-shadow: 0px 0px 3px black;
        transition: 0.1s;
    }
    .unity{
        margin-top: 1vh;
        margin-bottom: 2vh;
    }


</style>