---
import { projects } from '@cv';
---
<section class = 'section'>
    <h1 class = 'title'>Projects</h1>
    <ul class = 'ul'>
        {projects?.map(({name, startDate, endDate, description, image, status, url}) => {
            return(
                <li class = 'li'>
                    <h3>{name}</h3>
                    <p>{startDate} - {endDate}</p>
                    <p>{description}</p>
                    <img src = {image} alt = {name} height="150" class = 'image'/>
                    { status == 'Finished' && (<div>
                        <p>{status}</p>
                        <a href = {url}><span>Link to Deploy</span></a>
                        </div>)}
                    { status == 'On Development' && (
                    <p>{status}</p>
                    )}
                </li>
            )
        })}
    </ul>
</section>
<style>
    .section{
        width: 60%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .title{
        width: 100%;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    .ul{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .li{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 32%;
        padding: 2vh;
        border-radius: 10px;
        background-color: rgba(234, 234, 234, 0.79);
        height: 420px;
    }
    .image{
        border-radius: 5px;
        box-shadow: 0px 0px 5px black;
    }

</style>